/*
Creando tabla de rendimiento de cajeros 
*/

.titulo {
color:antiquewhite;}

table {border-collapse:collapse;}

tr:nth-of-type(1) > th{
background-color:darkcyan;}
table {border-collapse:collapse;}
    
tr:nth-of-type(2) > th{
background-color:darkcyan;}

tr:nth-of-type(2) > td{
background-color:gray;}

tr:nth-of-type(3) > td{
background-color:gray;}

tr:nth-of-type(4) > td{
background-color:gray;}

table{
    margin-top: 50;
    caption-side:bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td,th{
    border: 2px solid blanck;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color:gainsboro;
    }

    .text {
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-transform: uppercase; 
    font-weight:600;
    font-shadow: 2px 5px black
    }
    .contenedor{
    background-color: black;
    padding: 15px;
    margin-top: 35px;
    border-radius: 105px
    }